In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [2]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [3]:
print(bool("Hello"))
print(bool(15))

True
True

In [4]:
x = "Hello"
y = 15
print(bool(x))
print(bool(y))

True
True

In [6]:
#returns true
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [7]:
#example 6 (all of this will return false)
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [8]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [11]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [10]:
x = 200
print(isinstance(x, int))

True

In [ ]:
"""Python divides the operators in the following groups:
Arithmetic operators (+ , - , * , / , % , ** , //)
Assignment operators (= , += , -= , *= , /= , %= , //= , **= , &= , |= , ^= , >>= , <<= , :=)
Comparison operators (== , < , > , <= , >= != )
Logical operators (and , or , not)
Identity operators (is ,is not)
Membership operators (in ,not in )
Bitwise operators (& , | , ^ , ~ , << , >> )  """

In [12]:
print(10+5)

15

In [13]:
print((6 + 3) - (6 + 3))

0

In [14]:
print(100 + 5 * 3)

115

In [15]:
print(5 + 4 - 7 + 3)

5

In [17]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [18]:
#(lists allow duplicates)
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [19]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [20]:
#example 4 (data types)
list1 = ["apple", "banana", "cherry"] #string
list2 = [1, 5, 7, 9, 3] #int
list3 = [True, False, False] #boolean

In [21]:
#example 5 (A list can contain different data types:)
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [22]:
#example 6
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [23]:
#example 7 constructor - list()
thislist = list(("apple", "banana", "cherry","melon")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry', 'melon']

In [25]:
#access list items 
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1])
print(thislist[-1])
print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1]) # returns the items from "orange" (-4) to, but NOT including "mango" (-1)

banana
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [26]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [27]:
#change list items
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon', 'cherry']
['apple', 'watermelon']

In [28]:
#insert into list  
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [29]:
#add list items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [30]:

#remove list items
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana") #remove first occurrence
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.pop(1) #remove by index
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.pop()   #last item
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist[0] #by index
print(thislist)


thislist = ["apple", "banana", "cherry"]
del thislist #entire list deleted


thislist = ["apple", "banana", "cherry"]
thislist.clear() #clears list content
print(thislist)

['apple', 'cherry']
['apple', 'cherry']
['apple', 'banana']
['banana', 'cherry']
[]

In [32]:

#LOOP LISTS
#example 1
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)
print('\n')

#example 2
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])
print('\n')

#example 3
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1
print('\n')


#example 4
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry


apple
banana
cherry


apple
banana
cherry


apple
banana
cherry

[None, None, None]

In [33]:
#list comprehension
#example 1
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)


#example 2
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

#example 3
newlist = [x for x in fruits if x != "apple"]
print(newlist)

#example 4
newlist = [x for x in fruits]
print(newlist)


#example 5
newlist = [x for x in range(10)]
print(newlist)


#example 6
newlist = [x for x in range(10) if x < 5]
print(newlist)


#example 7
newlist = [x.upper() for x in fruits]
print(newlist)


#example 8
newlist = ['hello' for x in fruits]
print(newlist)


#example 9
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [34]:

#SORT LISTS
#example 1
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)


#example 2
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

#example 3
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)


#example 4
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)


#example 5
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

#example 6
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

#example 7
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[100, 82, 65, 50, 23]
[50, 65, 23, 82, 100]
['Kiwi', 'Orange', 'banana', 'cherry']
['banana', 'cherry', 'Kiwi', 'Orange']
['cherry', 'Kiwi', 'Orange', 'banana']

In [35]:
#COPY LISTS
#example 1
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)


#example 2
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

#example 3
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [36]:
#JOIN LISTS
#example 1
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)



#example 2
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)



#example 3
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [38]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(len(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
5

In [40]:

thistuple = ("apple",)
print(type(thistuple))

thistuple = ("apple")#NOT a tuple
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [42]:
tuple1 = ("apple", "banana", "cherry") #string
tuple2 = (1, 5, 7, 9, 3) #int
tuple3 = (True, False, False) #boolean

tuple1 = ("abc", 34, True, 40, "male") 
print(tuple1)

('abc', 34, True, 40, 'male')

In [43]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [45]:
#access tuples
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")   
print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[2:])
print(thistuple[-4:-1])


thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

banana
mango
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')
Yes, 'apple' is in the fruits tuple

In [46]:
#update tuples
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [48]:
#adding items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [50]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [53]:
#removing items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)  

thistuple = ("apple", "banana", "cherry")
del thistuple
#print(thistuple) #this will raise an error because the tuple no longer exists

('banana', 'cherry')

In [56]:

#unpacking Tuples
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)
print('\n')


fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)
print('\n')


fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
banana
cherry


apple
banana
['cherry', 'strawberry', 'raspberry']


apple
['mango', 'papaya', 'pineapple']
cherry

In [57]:

#Loop Through a Tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)
print('\n')


thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])
print('\n')


thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry


apple
banana
cherry


apple
banana
cherry

In [58]:

#join tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)
print('\n')

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('a', 'b', 'c', 1, 2, 3)


('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')